@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

.navbar {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 50%;
	text-align: center;
}
.navbar #nav-links {
	display: flex;
	flex-direction: column;
}
.navbar a {
	color: white;
	margin: 10px;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
	text-decoration: none;
}
