@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.profilepage {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	min-height: 100%;
	scrollbar-width: thin;
}

.profilepage ::-webkit-scrollbar {
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	border: 5px solid white;
	height: 10px;
	width: 8px;
}
.profilepage ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	background: #c2c9d2;
	border-radius: 10px;
}

.profilepage .form {
	-webkit-border-radius: 12px;
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
	align-items: center;
	background-color: white;
	border-bottom: 4px solid transparent;
	border-radius: 12px;
	border-right: 4px solid transparent;
	border-top: 4px solid transparent;
	display: flex;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	max-height: 70vh;
	min-width: fit-content;
	overflow-y: auto;
	padding: 57px 0;
	width: 18vw;
}

.profilepage #form-title {
	height: 50px;
}
.profilepage .form h1 {
	font-size: 28pt;
	padding: 0 40px;
	white-space: nowrap;
}

.profilepage .inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 82%;
}
.profilepage input,
.profilepage textarea {
	/*Controls border gradient width*/
	margin: 2px 0px;
	width: 98.5%;
}
.profilepage textarea {
	max-height: 200px;
	max-width: 274px;
	min-height: 72px;
	min-width: 98%;
}

.profilepage input[type="text"] {
	padding: 10px;
}
.profilepage textarea[type="text"] {
	padding: 10px;
}

.profilepage #username,
.profilepage #pronouns,
.profilepage button {
	height: 32px;
}

.profilepage input,
.profilepage textarea,
.profilepage button {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
}

.profilepage input:focus-visible {
	outline: 3px solid black;
}
.profilepage textarea:focus {
	outline: 3px solid black;
}

.profilepage #bio {
	display: inline-block;
	height: 72px;
	white-space: wrap;
}

.profilepage .gradient-border {
	-webkit-border-radius: 6px;
	align-items: center;
	background: -webkit-linear-gradient(top left, #63d9a0 0, #9e0de7 95%);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.profilepage .inputs p {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	max-width: 280px;
	white-space: wrap;
}

.profilepage button {
	-webkit-transition: 0.5s;
	background-image: linear-gradient(
		to right,
		#63d9a0 0%,
		#9e0de7 50%,
		#63d9a0 100%
	);
	background-size: 200% auto;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 3px 4px rgb(165, 165, 165);
	display: block;
	line-height: 5px;
	margin: 5% 0;
	text-align: center;
	transition: 0.5s;
	width: 100%;
}
.profilepage button:hover {
	background-position: right center;
}
.profilepage button:active {
	box-shadow: 0px 1px 2px rgb(160, 160, 160);
	transform: translateY(2px);
	transition: 0.1s;
}

@media screen and (max-height: 300px) {
	.profilepage .logo-area img {
		visibility: hidden;
	}
}
