@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap");

.userinfo {
	font-family: "Poppins", sans-serif;

	font-size: 5pt;
	max-height: 75px;
}

.userinfo #username-text {
	font-size: 24px;
	font-weight: bold;
	color: rgb(94, 94, 94);
	padding: 4px 0;
}
.userinfo #pronouns-text {
	font-size: 18px;
	font-weight: 500;
	color: rgb(151, 151, 151);
	margin: 0 10px;
	padding: 4px 0;
}
.userinfo #bio {
	max-width: 800px;
}
.userinfo #bio-text {
	padding: 5px 0;
	font-size: 16px;
	color: rgb(151, 151, 151);
	overflow-wrap: break-word;
}

.userinfo #namepronouns {
	display: flex;

	font-weight: 100;
}
